.popup__form {
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
  align-self: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width: 800px) {
  .popup__form {
    width: 282px;
    height: 332px;
  }
}
