.popup__text {
  padding: 0;
  border: none;
  font-size: 14px;
  line-height: 1.2;
  width: 358px;
  height: 27px;
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 800px) {
  .popup__text {
    width: 238px;
    /*margin-left: 22px;
    margin-right: 22px;*/
  }
}